<div class="header">
    <div class="container">
        <div class="row">
            <div class="header_main">
                <div class="col-6">
                    <h1 class="header_h1">Всем привет</h1>
                    <p class="header_p"><span>Я</span> <b class="обомне">Адхам Абдумаликов</b></p>
                </div>
                <div class="col-6">
                    <img class="img_header" src="../images/home-main.359935c3.svg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="row">
            <h1>Немого <span class="обомне">обо</span> мне</h1>
            <div class="col-12">
                <div class="main_p">
                    <p>Я влюбилься в праграмирования и научился многому</p>
                    <p>Я свободно владею классикой, такой как<span class="обомне"> Javascript и NodeJs</span></p>
                    <p>По возможности я также применяю свою страсть к разработке продуктов с <span
                            class="обомне">Node.js</span> и <span class="обомне">Современная
                            библиотека и фреймворки Javascript</span> и нравиться <span class="обомне">React.js</span>
                    </p>
                    <h2>Мои контакты</h2>
                    <p>Не стесняйтесь <span class="обомне">связаться</span> со мной</p>
                    <div class="sot_seti">
                        <a href="https://t.me/adhamjonweb"><i class="fab fa-telegram"></i>
                        <a href="https://github.com/adhamjon0998"><i class="fab fa-github"></i></a>
                        <a href="https://e.mail.ru/inbox/adham.abdumalikov/?afterReload=1"><i class="far fa-mail-bulk"></i></a>
</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer_flex">
                    <div class="col-4">
                    <p>Designed and Developed by Адхамжон Абдумаликов</p>
                </div>
                <div class="col-4">
                    <p>Copyright © 2021 Адхамжон</p>

                </div>
                <div class="col-4">
                    <div class="footer_href">
                        <a href="https://t.me/adhamjonweb"><i class="fab fa-telegram"></i>
                        <a href="https://github.com/adhamjon0998"><i class="fab fa-github"></i></a>
                        <a href="https://e.mail.ru/inbox/adham.abdumalikov/?afterReload=1"><i class="far fa-mail-bulk"></i></a>
                    </div>
                        
                </div>
                </div>
            </div>
        </div>
    </div>
</div>