<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">Адхам</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if isHome}}
                <li class="active"><a href="/">Главная</a></li>
                {{else}}
                <li><a href="/">Главная</a></li>
                {{/if}}

                {{#if isMe}}
                <li class="active"><a href="/aboutMe">Обо мне</a></li>
                {{else}}
                <li><a href="/aboutMe">Обо мне</a></li>
                {{/if}}

                {{#if isProjects}}
                <li class="active"><a href="/projects">Проекты</a></li>
                {{else}}
                <li><a href="/projects">Проекты</a></li>
                {{/if}}

                {{#if isRezume}}
                <li class="active"><a href="/rezume">Резуме</a></li>
                {{else}}
                <li><a href="/rezume">Резуме</a></li>
                {{/if}}


            </ul>
        </div>
    </div>
</nav>